Checks: |
  *
  -llvmlibc-*
  -readability-*
  -altera-id-dependent-backward-branch
  -altera-unroll-loops
  -bugprone-assignment-in-if-condition
  -bugprone-easily-swappable-parameters
  -cert-int09-c
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
  -cppcoreguidelines-avoid-magic-numbers
  -google-readability-braces-around-statements
  -hicpp-braces-around-statements
  -hicpp-uppercase-literal-suffix
  -llvm-else-after-return
  -llvm-header-guard
  -hicpp-signed-bitwise
